APP_NAME=Coinshape
APP_ENV=local
APP_KEY=base64:HbcDvrPFkdfuh0r7NCX9x/XzDdWUJjs+voF6RVLacsQ=
APP_DEBUG=false
APP_URL=https://coinshape.com

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=coinshape_db
DB_USERNAME=coinshape_admin
DB_PASSWORD=d1uM&B4ZPiDZ

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mail.coinshape.com
MAIL_PORT=465
MAIL_USERNAME=support@coinshape.com
MAIL_PASSWORD=b-zDQUI]LO[z
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=support@coinshape.com
MAIL_FROM_NAME="Coinshape"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=1244891
PUSHER_APP_KEY=06ff101605a66883ffca
PUSHER_APP_SECRET=bd25654f48fe693e7060
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

COINPAYMENT_PUBLIC_KEY=ec1702886ddc8b71e5467da2e18937fbe82b7b1fac6c74f70bb018080f5b1da4
COINPAYMENT_PRIVATE_KEY=Fa0aE1171BA6dc3B94c586d05D243210159Fb8c4A3a38ca67f52dDffE05B9F57
COINPAYMENT_CURRENCY=USD
